/* Colors:
    Jade: #3a7359
    Jade (contrast): #2b5844
    Egyptian Blue: #345d98
    Mint: #b0dabe
*/

@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 300;
    font-display: block;
    /*src: url(https://fonts.gstatic.com/s/bitter/v17/raxhHiqOu8IVPmnRc6SY1KXhnF_Y8ajfOLjOW3pzveS5Bw.woff) format('woff');*/
    src: url(bitter.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    background-color: #fdfcfb;
    font-size: 18px;
}

body {
    position: relative;
    margin: 0;
    font-family: 'Bitter', monospace;
}

::selection { background: #a4e4c7; }
::-moz-selection { background: #a4e4c7; }

a {
    text-decoration: none;
    color: #2b5844;
    transition: opacity 0.2s;
}
a:hover {
    opacity: 0.8;
}


h1 {
    font-size: 2em;
    margin: 0;
}
h2 {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    line-height: 1.8em;
}

.hero {
    display: table;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    border-bottom: 2px solid #3a7359;
}

.centered-container {
    display: table-cell;
    vertical-align: middle;
}

.title {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

.title__name>h1 {
    display: inline;
}

.title__swoosh {
    display: inline;
    margin-right: 15px;
}
.title__swoosh::before {
    content: "";
    display: inline-block;
    width: 0.3em;
    margin-right: 0.15em;
    height: 0.75em;
    background-color: #345d98;
    /*background: linear-gradient(90deg, #2b5844 40%, white 40% 60%, #345d98 60%);*/
    transform: skewX(-20deg);
}
.title__swoosh::after {
    content: "";
    display: inline-block;
    width: 0.3em;
    height: 0.75em;
    background-color: #2b5844;
    /*background: linear-gradient(90deg, #2b5844 40%, white 40% 60%, #345d98 60%);*/
    transform: skewX(-20deg);
}

#slogan {
    color: #444;
    cursor: pointer;
    margin: 1em 0;
}

.title__contact {
    list-style: none;
    padding: 0;
}

.title__contact>li {
    margin: 1em 0;
}

@media only screen and (min-width: 400px) {
    html {
        font-size: 22px;
    }
}

@media only screen and (min-width: 800px) {
    .hero {
        background-color: #fdfcfb;
        background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0h2v20H9V0zm25.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm-20 20l1.732 1-10 17.32-1.732-1 10-17.32zM58.16 4.134l1 1.732-17.32 10-1-1.732 17.32-10zm-40 40l1 1.732-17.32 10-1-1.732 17.32-10zM80 9v2H60V9h20zM20 69v2H0v-2h20zm79.32-55l-1 1.732-17.32-10L82 4l17.32 10zm-80 80l-1 1.732-17.32-10L2 84l17.32 10zm96.546-75.84l-1.732 1-10-17.32 1.732-1 10 17.32zm-100 100l-1.732 1-10-17.32 1.732-1 10 17.32zM38.16 24.134l1 1.732-17.32 10-1-1.732 17.32-10zM60 29v2H40v-2h20zm19.32 5l-1 1.732-17.32-10L62 24l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM111 40h-2V20h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zM40 49v2H20v-2h20zm19.32 5l-1 1.732-17.32-10L42 44l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM91 60h-2V40h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM39.32 74l-1 1.732-17.32-10L22 64l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM71 80h-2V60h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM120 89v2h-20v-2h20zm-84.134 9.16l-1.732 1-10-17.32 1.732-1 10 17.32zM51 100h-2V80h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM100 109v2H80v-2h20zm19.32 5l-1 1.732-17.32-10 1-1.732 17.32 10zM31 120h-2v-20h2v20z' fill='%23345d98' fill-opacity='0.3' fill-rule='evenodd'/%3E%3C/svg%3E");
    }
    .title {
        text-align: left;
        margin: 0 18%;
        background-color: white;
        padding: 40px;
        max-width: 400px;
        border: 2px dashed #2b5844;
    }
    /*h1 {
        margin: 0 0 0.5em;
    }*/
}
