* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: 18px sans-serif;
    color: white;
}
.center {
    max-width: 500px;
    margin: auto;
}
body {
    background: #333;
    margin: 3px;
    overflow: scroll;
}
.row {
    white-space: nowrap;
    padding: 5px 0;
}
h1 {
  font: 25px sans-serif;
}
a {
  color: red;
}
option {
  color: white;
}
select {
  color: white;
  background: #333;
  width: 150px;
  height: 30px;
}
